<!DOCTYPE html>
<html class="no-js" lang="{{ locale_name }}">
    <head>
        <title>{{ head.title }}</title>
        {{{ head.meta_tags }}}
        {{{ head.config }}}
        {{#block "head"}} {{/block}}
        <link href="{{ head.favicon }}" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {{{stylesheet '/assets/css/theme.css'}}}
        {{ getFontsCollection }}
        <script src="{{cdn 'assets/modernizr-custom.js'}}"></script>

        {{{head.scripts}}}
        {{{head.rsslinks}}}

        {{inject 'themeSettings' theme_settings}}
        {{inject 'genericError' (lang 'common.generic_error')}}
        {{inject 'maintenanceMode' settings.maintenance}}
        {{inject 'urls' urls}}
        {{{snippet 'htmlhead'}}}
    </head>
    <body>
        <!-- Bootstrap modal -->
        {{> components/common/protect }}
        
        {{{snippet 'header'}}}
        <div class="icons-svg-sprite">{{> components/common/icons/icon-defs }}</div>

        {{#if settings.privacy_cookie}}
            {{> components/common/cookie}}
        {{/if}}

        {{> components/common/header }}
        {{> components/common/body }}
        {{> components/common/footer }}

        <script>window.__webpack_public_path__ = "{{cdn 'assets/dist/'}}";</script>
        <script src="{{cdn 'assets/dist/theme-bundle.main.js'}}"></script>

        <script>
            // Exported in app.js
            window.stencilBootstrap("{{page_type}}", {{jsContext}}).load();
        </script>

        {{{footer.scripts}}}
        {{{snippet 'footer'}}}



        <!-- <script type="text/javascript">
            $(window).on('load',function(){
                $('#myModal').modal('show');
            });
        </script> -->


        <!-- Password protect -->
        <script type="text/javascript">
            function passWord() {
                var testV = 1;
                var pass1 = prompt('Please Enter Your Password', ' ');
                while (testV < 3) {
                    if (!pass1)
                        history.go(-1);
                    if (pass1.toLowerCase() == "letmein") {
                        alert('You Got it Right!');
                        window.open('{{urls.home}}');
                        break;
                    }
                    testV += 1;
                    var pass1 =
                        prompt('Access Denied - Password Incorrect, Please Try Again.', 'Password');
                }
                if (pass1.toLowerCase() != "password" & testV == 3)
                    // history.go(-1);
                    alert('See ya!');
                return " ";
            }
    </script>
    <center>
        <form>
            <input type="button" value="Enter Protected Area" onClick="passWord()">
        </form>
    </cente>
    
    </body>
</html>
